.shortener {
  height: 160px;
  width: 100%;
  max-width: 750px;
  margin: -80px auto 0;
  padding: 24px;
  background: url("../../../assets/bg-shorten-mobile.svg"), #3a3054;
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 10px;
  font-family: inherit;
}

.shortener form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.shortener input {
  display: block;
  height: 3rem;
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.12px;
  color: rgb(52, 49, 61, 0.5);
}

.shortener button {
  font-size: 1.125rem;
}

@media (min-width: 1000px) {
  .shortener {
    background: url("../../../assets/bg-shorten-desktop.svg"), #3a3054;
    height: 168px;
    padding: 52px 64px;
    margin-top: -84px;
    max-width: none;
  }

  .shortener form {
    flex-direction: row;
    align-items: center;
    height: 4rem;
  }

  .shortener input {
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    font-size: 1.25rem;
  }

  .shortener button {
    height: 100%;
    width: 100%;
    max-width: 11.75rem;
    margin-left: 1.5rem;
    font-size: 1.25rem;
  }
}
