.link {
  width: 100%;
  max-width: 750px;

  border-radius: 5px;
  background-color: #ffffff;
  padding: 1rem;
  animation: fadein 0.4s;
}

.link__input_link {
  text-decoration: none;
  display: inline-block;
  color: #34313d;
  padding: 0.5rem 0;
}

.link__short_link {
  text-decoration: none;
  display: inline-block;
  color: #2bd0d0;
  padding: 0.9rem 0;
}

.link button {
  width: 100%;
}

.link hr {
  background-color: #9e9aa8;
  opacity: 25%;
  height: 1px;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  top {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 1000px) {
  .link {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: none;
    height: 72px;
  }

  .link__input_link {
    flex-basis: 100%;
  }

  .link__short_link {
    margin-right: 1.5rem;
  }

  .link button {
    max-width: 103px;
  }
  .link hr {
    display: none;
  }
}
