.feature-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-cards:before {
  content: "";
  width: 0.5rem;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2bd0d0;
}

@media (min-width: 1000px) {
  .feature-cards {
    flex-direction: row;
    gap: 1.875rem;
  }

  .feature-cards:before {
    content: "";
    width: 80%;
    height: 0.5rem;
    position: absolute;
    top: 57.5%;
    background-color: #2bd0d0;
  }
}
