.link {
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 1rem;
  animation: fadein 0.4s;
}

.link__input_link {
  padding: 0.5rem 0;
}

.link__short_link {
  padding: 0.9rem 0;
  color: #2bd0d0;
}

.link button {
  width: 100%;
}

.link hr {
  background-color: #9e9aa8;
  opacity: 25%;
  height: 1px;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  top {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 1000px) {
  .link {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: none;
    height: 72px;
  }

  .link__input_link {
    text-align: left;
  }

  .link__shortened_link {
    text-align: right;
  }

  .link button {
    max-width: 103px;
  }
  .link hr {
    display: none;
  }
}
