.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 40px 0 23px;
}

.logo {
  flex: 0 0 50%;
  margin-right: auto;
}

@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    align-items: center;
    padding: 48px 0 78px;
  }

  .logo {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
  }
}
