.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 40px;
}

.logo {
  flex: 0 0 50%;
}

.mobile {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 50%;
}

@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .logo {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
  }

  .mobile {
    display: none;
  }
}
