.navigation {
  width: 327px;
  padding: 40px 24px;
  margin-top: 24px;
  font-size: 18px;
  border-radius: 10px;
  background-color: #3a3054;
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  position: absolute;
  top: 82px;
}

.open {
  visibility: visible;
  opacity: 100;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  margin: 0 0 24px;
  list-style-type: none;
  border-bottom: 1px solid hsl(257, 7%, 63%, 25%);
}

.menu__buttons {
  display: flex;
  flex-direction: column;
  flex-shrink: 0.4;
  text-align: center;
  gap: 24px;
}

.menu__option + .menu__option {
  padding-top: 30px;
}

@media (min-width: 768px) {
  .navigation {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-top: 0;
    font-size: 15px;
    border-radius: 0;
    background-color: inherit;
    transition: none;
    opacity: 100;
    visibility: visible;
    position: static;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 0 4.556%;
    margin: 0;
    border-bottom: none;
  }

  .menu__option + .menu__option {
    padding-top: 0px;
    padding-left: 32px;
  }

  .menu__buttons {
    width: 184px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 32px;
    gap: 0px;
  }
}
