.footer {
  padding: 3.375rem 0;
  width: 100%;
  margin: 0 auto;
  background-color: #232127;
  text-align: center;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .logo {
  filter: invert(1) brightness(2);
  margin-bottom: 10px;
  height: 32.67px;
  width: 120.04px;
}

.footer__category {
  padding-top: 40px;
}

.footer__category_title {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: -0.25px;
  color: #ffffff;
  padding-bottom: 22px;
}

.footer__link {
  font-size: 0.9375rem;
  font-weight: 500;
  letter-spacing: -0.234375px;
}

.footer__link a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer__link + .footer__link {
  padding-top: 0.625rem;
}

.footer__social_links {
  display: flex;
  gap: 1.5rem;
  padding-top: 40px;
}

.icon {
  width: 24px;
  height: 24px;
}

@media (min-width: 1024px) {
  .footer {
    padding: 4.5rem 0;
    text-align: left;
  }

  .footer__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer__menu {
    display: flex;
    flex-direction: row;
    flex-basis: 60%;
    justify-content: space-between;
  }

  .footer__category {
    padding: 0;
  }

  .footer__social_links {
    padding-top: 0;
  }
}
